<div class="header"
     style="background: url('./assets/images/dashboard/top-image.jpg'); background-size: cover; background-repeat: no-repeat; height: 100vh;position: relative;">
    <div class="main-img">
        <div class="container">
            <svg class="icon-150" width="150" viewBox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="-0.423828" y="34.5762" width="50" height="7.14286" rx="3.57143"
                      transform="rotate(-45 -0.423828 34.5762)" fill="white" />
                <rect x="14.7295" y="49.7266" width="50" height="7.14286" rx="3.57143"
                      transform="rotate(-45 14.7295 49.7266)" fill="white" />
                <rect x="19.7432" y="29.4902" width="28.5714" height="7.14286" rx="3.57143"
                      transform="rotate(45 19.7432 29.4902)" fill="white" />
                <rect x="19.7783" y="-0.779297" width="50" height="7.14286" rx="3.57143"
                      transform="rotate(45 19.7783 -0.779297)" fill="white" />
            </svg>
            <h1 class="my-4">
                <span>Apprenticeship System</span>
            </h1>
            <h4 class="mb-5 text-white">Transforming Apprenticeships with <b>Innovative Digital Solutions.</b></h4>
            <div class="d-flex justify-content-center align-items-center">
                <div class="ms-3">
                    <a class="bg-white btn btn-light d-flex" target="_blank"
                       href="https://github.com/RANIA-03/ApprenticeshipHTU">
                        <img src="./assets/images/brands/23.png" width="24px" height="24px"><span class="mx-2 text-danger fw-bold">Project</span> <span>ON GITHUB</span>
                    </a>
                </div>
            </div>

        </div>
    </div>
    <div class="container">
        <nav class="rounded nav navbar navbar-expand-lg navbar-light top-1">
            <div class="container-fluid">
                <a class="mx-2 navbar-brand" href="#">
                    <div class="logo-main">
                        <div class="logo-normal">
                            <svg class="text-primary icon-30" viewBox="0 0 30 30" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <rect x="-0.757324" y="19.2427" width="28" height="4" rx="2"
                                      transform="rotate(-45 -0.757324 19.2427)" fill="currentColor" />
                                <rect x="7.72803" y="27.728" width="28" height="4" rx="2"
                                      transform="rotate(-45 7.72803 27.728)" fill="currentColor" />
                                <rect x="10.5366" y="16.3945" width="16" height="4" rx="2"
                                      transform="rotate(45 10.5366 16.3945)" fill="currentColor" />
                                <rect x="10.5562" y="-0.556152" width="28" height="4" rx="2"
                                      transform="rotate(45 10.5562 -0.556152)" fill="currentColor" />
                            </svg>
                        </div>
                        <div class="logo-mini">
                            <svg class="text-primary icon-30" viewBox="0 0 30 30" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <rect x="-0.757324" y="19.2427" width="28" height="4" rx="2"
                                      transform="rotate(-45 -0.757324 19.2427)" fill="currentColor" />
                                <rect x="7.72803" y="27.728" width="28" height="4" rx="2"
                                      transform="rotate(-45 7.72803 27.728)" fill="currentColor" />
                                <rect x="10.5366" y="16.3945" width="16" height="4" rx="2"
                                      transform="rotate(45 10.5366 16.3945)" fill="currentColor" />
                                <rect x="10.5562" y="-0.556152" width="28" height="4" rx="2"
                                      transform="rotate(45 10.5562 -0.556152)" fill="currentColor" />
                            </svg>
                        </div>
                    </div>
                    <h5 class="logo-title">Apprenticeship</h5>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-2"
                        aria-controls="navbar-2" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar-2">
                    <ul class="mb-2 navbar-nav ms-auto mb-lg-0 d-flex align-items-start">
                        <li class="nav-item me-3">
                            <a class="btn btn-primary d-flex align-items-center" aria-current="page"
                               href="/Identity/Account/Login">
                                Log in
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
