@using Apprenticeship.DTO
@using Apprenticeship.Data.Entities
@model ReportDTO
@{
    var trainingId = (int)ViewBag.trainingId;
}
<link rel="shortcut icon" href="~/assets/images/favicon.ico" />
<link rel="stylesheet" href="~/assets/css/core/libs.min.css" />
<link rel="stylesheet" href="~/assets/css/hope-ui.min.css?v=2.0.0" />
<link rel="stylesheet" href="~/assets/css/custom.min.css?v=2.0.0" />
<link rel="stylesheet" href="~/assets/css/dark.min.css" />
<link rel="stylesheet" href="~/assets/css/customizer.min.css" />
<link rel="stylesheet" href="~/assets/css/rtl.min.css" />

<div style="display: flex;justify-content: flex-end;margin-right: 92px">
    <div class=" col-xl-9 col-lg-8">
        <div class=" card">
            <div class="card-header d-flex justify-content-between">
                <div class="header-title">
                    <h4 class="card-title">Edit Report</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="new-user-info">
                    <!-- ***************************************** -->
                    <form method="post" action="/Report/Edited?reportId=@Model.reportId&assignmentId=@Model.assignmentId&reportStatusId=@Model.reportStatusId&trainingId=@trainingId" enctype="multipart/form-data" class="mt-5">
                        <div class="form-group col-md-12">
                            <label class="form-label" asp-for="reportName">Report Name:</label>
                            <input type="text" class="form-control" asp-for="reportName" placeholder=" " value="@Model.reportName">
                            <span asp-validation-for="reportName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="form-label" asp-for="reportDescription">Report Description:</label>
                            <input type="text" class="form-control" asp-for="reportDescription" placeholder=" " value="@Model.reportDescription">
                            <span asp-validation-for="reportDescription" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="form-label" asp-for="reportNotes">Report Notes:</label>
                            <input type="text" class="form-control" asp-for="reportNotes" placeholder=" " value="@Model.reportNotes">
                            <span asp-validation-for="reportNotes" class="text-danger"></span>
                        </div>
                        
                        @foreach (var d in (List<Document>)(ViewBag.documents))
                        {
                            <div class="form-group ">
                                <a href="/Assignment/GetFile?documentId=@d.documentId" target="_blank">@d.name</a>
                                <a href="/Report/DeleteDocument?documentId=@d.documentId&reportId=@Model.reportId">Delete</a>
                            </div>
                        }
                        @if (((List<Document>)ViewBag.documents).Count == 0)
                        {
                            <div class="form-group col-md-12">
                                <label class="form-label" for="formFile">Report Documents:</label>
                                <input type="file" class="custom-file-input my-input" name="formFile">
                            </div>
                        }
                       
                        
                        <button type="submit" class="btn btn-primary">Edit</button>
                        <a href="/Report/Index" class="btn btn-danger">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/assets/js/core/libs.min.js"></script>
<script src="~/assets/js/core/external.min.js"></script>
<script src="~/assets/js/charts/widgetcharts.js"></script>
<script src="~/assets/js/charts/vectore-chart.js"></script>
<script src="~/assets/js/charts/dashboard.js"></script>
<script src="~/assets/js/plugins/fslightbox.js"></script>
<script src="~/assets/js/plugins/setting.js"></script>
<script src="~/assets/js/plugins/slider-tabs.js"></script>
<script src="~/assets/js/plugins/form-wizard.js"></script>
<script src="~/assets/js/hope-ui.js" defer></script>

